<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Questions:</b>
</p>
<ul>
  <% @quiz.questions.each do |q| %>
    <li><%= q.question %></li>
    <ul>
      <% q.answers.each do |a| %>
        <li><%= a.answer %></li>
      <% end %>
    </ul>
  <% end %>
</ul>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
